.attendance-container {
    background: #ffffffd7;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 18px #00000020;
}

.attendance-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.attendance-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-input {
    min-width: 170px;
}

/* GRID WRAPPER */
.attendance-grid-wrapper {
    overflow-x: auto;
    padding-bottom: 10px;
}

.attendance-grid {
    display: flex;
    flex-direction: column;
    min-width: 800px;
}

/* HEADER ROW */
.header-row {
    font-weight: bold;
    background: #f5f5f5;
}

.grid-row {
    display: flex;
    width: 100%;
}

.emp-col {
    min-width: 145px;
    max-width: 160px;
    padding: 10px;
    display: flex;
    align-items: center;
    background: #fff;
    border-right: 1px solid #eee;
}

.sticky-col {
    position: sticky;
    left: 0;
    background: white;
    z-index: 5;
    box-shadow: 2px 0 6px #00000015;
}

/* EMPLOYEE CARD */
.employee-box {
    display: flex;
    gap: 12px;
}

.avatar {
    width: 25px;
    height: 25px;
    background: #ff3131;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emp-info {
    line-height: 1.2;
}

.emp-name {
    font-weight: bold;
    color: black !important;
}

.emp-role {
    font-size: 12px;
    color: #888;
}

/* DAYS */
.day-col {
    min-width: 80px;
    border: 1px solid #efefef;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-day {
    background: #f3f3f3;
    font-weight: bold;
}

/* Present */
.present-day {
    text-align: center;
}

/* Absent */
.absent-day {
    background: #fafafa;
}

.absent-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .emp-col {
        min-width: 150px;
    }

    .day-col {
        min-width: 60px;
    }
}